{#
/**
 * @file blaetter_grid_block_title.html.twig
 * Displays a grid block with the specified grid and the given content
 *
 * Available variables:
 * - title: The class for the left side
 *
 * @ingroup themeable
 */
#}
{% if title %}
<h2 class="heading--sectiontitle red">{{ title }}</h2>
{% endif %}
